#logopage{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.logged-buttons{
    display: flex;
    flex-direction: column;
}

.pls{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: space-between;
}

.onepl{
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-burger{
    text-align: right;
}

.list-tab{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.add-pl{
    height: 150%;
    justify-self: flex-end;
}

.zi-panel{
    padding: 0 15px;
}

.zi-panel-margin{
    margin-top: 10px
}

nav{
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    margin-bottom: 10px;
}

.navbar-burger{
    border: none;
    background-color: white;
}

.logopic{
    width: 50%;
    margin-bottom: 50px;
}

.pl-status-head{
    font-size: 100%;
}

.input-round{
    border-radius: 10pt;
}

.break-letter{
    word-break: break-all;
}

.card-margin{
    margin-bottom: 10px;
}

#songlist{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#play-all{
    margin-bottom: 10px; 
    font-size: 200%;
}
